<form method="post">
  <input type="text" name="q" value="{{query}}">
  <input type="submit" value="Search">
</form>

{{#if items}}
  <table class="table table-bordered table-stripped">

    {{#each items}}
    <tr>
      <td>{{title}}</td>
      <td>{{ago}}</td>
      <td>{{category}}</td>
      <td>{{size}}</td>
      <td>{{grabs}}</td>

      <td><button onclick="download('{{link}}')">Download</button></td>

    </tr>
    {{/each}}


  </table>

  <script>

    function download(url) {

      fetch('/download?url=' + encodeURIComponent(url)).then(function(response) {
        return response.json();
      }).then(function(d) {
        console.log(d);
      }).catch(function(e) {
        console.warn(e);
      })

    }
  </script>
{{/if}}