<img alt="{{SeriesName}}" src="http://thetvdb.com/banners/{{show.banner}}">

  {{#each show.Episodes}}

    <table class="table table-bordered">
      <tr>
        <th colspan="2">Season {{season}}</th>
      </tr>
      {{#each episodes}}
        <tr>
          <td>E{{pad EpisodeNumber}}</td>
          <td>{{EpisodeName}}</td>
        </tr>
      {{/each}}
    </table>

  {{/each}}
