<img alt="{{SeriesName}}" src="/tvdbimages/{{tvdbimg show.banner}}">

  {{#each show.Episodes}}

    <table class="table table-bordered">
      <tr>
        <th colspan="2">Season {{season}}</th>
      </tr>
      {{#each episodes}}
        <tr>
          <td>E{{pad EpisodeNumber}}</td>
          <td>{{FirstAired}}</td>
          <td>{{EpisodeName}}</td>
          {{#if local}}
            <td>{{local.dir}}/{{local.file}}</td>
          {{else}}
            <td></td>
          {{/if}}
        </tr>
      {{/each}}
    </table>

  {{/each}}
